*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:white;
    width: 100%;
    height: 8vh;
align-items: center;
border-bottom: solid 1px;

}
nav a{
    text-decoration: none;
    color:  rgb(30, 128, 255);;
width:20%;
}
#navBar{
    display: flex;
justify-content: space-evenly;
width: 40%;

}
#navBar li {
list-style-type: none;
}
#navBar a {
    text-decoration: none;
    color: rgb(30, 128, 255);
    font-size: x-large;
}
main{
    width: 90%;
    margin: auto;
    padding: auto;
}
#categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  
}
.category{
   width: 24%;
   height:300px;
   padding: 2px;
   
}
.category h3{
    text-align: center;
    text-decoration: underline;
    color: steelblue;
}
.category img{
   width: 100%;
   height: 200px;
   border-radius: 10%;
}
.category img:hover{
   border: 1px solid black;
   opacity: 70%;
}
#holder{
    display: flex;
    flex-wrap: wrap;
    width:100% ;
}
#holder article{
    display: flex;
    flex-direction: column;
    justify-self: start;
     align-items:center;
    width: 19%;
    height: 330px;
    border: 0.5px solid black;
    border-radius: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 3px;
}
.bookImg{
    width: 60%;
    height: 200px;
   
}
.bookImg img{
    width: 100%;
    height: 100%;
   
}
.addBtn{
    background-color:cornflowerblue;
    width: 150px;
    height: 30px;
    border-radius: 8%;
    font-size:medium;
 color: white;
}

footer{
    width: 100%;
    height: 30vh;
    background-color: blanchedalmond;
}
@media screen and (max-width:768px){
    #navBar{
        width: 80%;
    }
    .category{
        width: 45%;
    }
    #holder article{
        width: 45%;
    }
    
}
@media screen and (max-width:500px){

   .addBtn{
       width: 100px;
   }
    
}